*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*HEADER*/

header{
    position: relative;
    background: rgb(59, 164, 250);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.logo img{
    width: 80px;
    height: 80px;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition:  transform 0.3s ease-in-out,
                color 0.2s ease-in;
}



/*BURGER*/

.burger{
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.burger span{
    width: 28px;
    height: 3px;
    background: white;
    transition: 0.4s;
}


/*BURGER-ANIMATION*/

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3){
    transform: rotate(-45deg) translate(6px, -8px);
}


/*MAIN BOX*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-about{
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden;
}

.main-about::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
      rgb(142, 204, 255),
      rgb(135, 201, 255), 
      rgb(122, 178, 213));
    opacity: 0.8;
     z-index: 1;
   
}

.main-about > *{
    position: relative;
    z-index: 2;
}

.text-1{
    font-weight: bold;
    text-align: center;
    margin: 30px;
    font-size: 50px;
    color: white;
}

#autoText{
    min-height: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    white-space: nowrap;
    padding-right: 6px;
}

#block-try{
    cursor: pointer;
    background: rgb(255, 247, 0);
    width: 200px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
}

.picture{
    font-weight: bold;
     text-align: center;
    color: rgb(0, 0, 0);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.picture-img-1{
    transform: rotate(10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/cinema.png) center / cover no-repeat;

}

.picture-img-2{
    transform: rotate(-10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/travel-2.png) center / cover no-repeat;

}

.picture-img-3{
    transform: rotate(10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/work.png) center / cover no-repeat;

}

.picture-img-4{
    transform: rotate(-10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/speak-3.en.png) center / cover no-repeat;

}

/* -------------------------------------------LESSONS */

.lessons-main{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.head{
    margin: 20px;
    text-align: center;
}


.lesson-1{
    width: 320px;
    height: 430px;
    background: rgb(0, 128, 255);
    border-radius: 20px;
    
}

.lesson-2{
    width: 500px;
    height: 300px;
    background: rgb(89, 247, 94);
    border-radius: 20px;
}

.lesson-3{
    width: 320px;
    height: 330px;
    background: rgb(230, 189, 28);
    border-radius: 20px;
    
}

.lesson-4{
    margin-top: -150px;
    width: 400px;
    height: 300px;
    background: rgb(113, 98, 230);
    border-radius: 20px;
    
}

.lessons-main h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.lessons-main p {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
}

.ready-lesson{
    cursor: pointer;
    position: relative;
    text-align: center;
    width: 140px;
    border-radius: 4px;
    padding: 7px;
    background: white;
    transition: transform 0.3s ease;
}



.ready-lesson::after{
    content: "";
    position: absolute;
}

.lesson-1 img{
    margin: 30px;
    width: 180px;
    height: 180px;
}

.lesson-2 img{
    width: 170px;
    height: 170px;
}

.lesson-3 img{
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.lesson-4 img {
    width: 140px;
    height: 140px;
}

/* ---------------------------------------------------------------------TABS */

.tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    border:  2px solid rgb(0, 140, 255) ;
    border-radius: 10px;
    padding: 10px;
}

.tab{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    transition: background 0.3 ease
    color 0.3s ease;
}

.tab.active{
    background: rgb(74, 171, 255);
    color: white;
}


.tab-content{
    display: none;
    animation: fade 0.4s ease;
}

.tab-content.active {
    display: block;
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;
    max-width: 400px;
    margin: auto;
}

.box {
    background: rgb(79, 159, 249);
    color: white;
    border-radius: 12px;
    width: 300px;
    height: 200px;

}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}