*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*HEADER*/

header{
    position: relative;
    background: rgb(59, 164, 250);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.logo img{
    width: 80px;
    height: 80px;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition:  transform 0.3s ease-in-out,
                color 0.2s ease-in;
}



/*BURGER*/

.burger{
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.burger span{
    width: 28px;
    height: 3px;
    background: white;
    transition: 0.4s;
}


/*BURGER-ANIMATION*/

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3){
    transform: rotate(-45deg) translate(6px, -8px);
}


/*MAIN BOX*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-about{
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden;
}

.main-about::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
      rgb(142, 204, 255),
      rgb(135, 201, 255), 
      rgb(122, 178, 213));
    opacity: 0.8;
     z-index: 1;
   
}

.main-about > *{
    position: relative;
    z-index: 2;
}

.text-1{
    font-weight: bold;
    text-align: center;
    margin: 30px;
    font-size: 50px;
    color: white;
}

#autoText{
    min-height: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    white-space: nowrap;
    padding-right: 6px;
}

#block-try{
    cursor: pointer;
    background: rgb(255, 247, 0);
    width: 200px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
}

.picture{
    font-weight: bold;
     text-align: center;
    color: rgb(0, 0, 0);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.picture-img-1{
    transform: rotate(10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/cinema.png) center / cover no-repeat;

}

.picture-img-2{
    transform: rotate(-10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/travel-2.png) center / cover no-repeat;

}

.picture-img-3{
    transform: rotate(10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/work.png) center / cover no-repeat;

}

.picture-img-4{
    transform: rotate(-10deg);
    border-radius: 10px;
    width: 230px;
    height: 250px;
    background: wheat;
    background: url(img/speak-3.en.png) center / cover no-repeat;

}

/* -------------------------------------------LESSONS */

.lessons-main{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.head{
    margin: 20px;
    text-align: center;
}


.lesson-1{
    width: 320px;
    height: 430px;
    background: rgb(0, 128, 255);
    border-radius: 20px;
    
}

.lesson-2{
    width: 500px;
    height: 300px;
    background: rgb(89, 247, 94);
    border-radius: 20px;
}

.lesson-3{
    width: 320px;
    height: 330px;
    background: rgb(230, 189, 28);
    border-radius: 20px;
    
}

.lesson-4{
    margin-top: -150px;
    width: 400px;
    height: 300px;
    background: rgb(113, 98, 230);
    border-radius: 20px;
    
}

.lessons-main h3 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.lessons-main p {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
}

.ready-lesson{
    cursor: pointer;
    position: relative;
    text-align: center;
    width: 140px;
    border-radius: 4px;
    padding: 7px;
    background: white;
    transition: transform 0.3s ease;
}



.ready-lesson::after{
    content: "";
    position: absolute;
}

.lesson-1 img{
    margin: 30px;
    width: 180px;
    height: 180px;
}

.lesson-2 img{
    width: 170px;
    height: 170px;
}

.lesson-3 img{
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.lesson-4 img {
    width: 140px;
    height: 140px;
}

/* ---------------------------------------------------------------------TABS */

.tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    border:  2px solid rgb(0, 140, 255) ;
    border-radius: 10px;
    padding: 10px;
}

.tab{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    transition: background 0.3 ease
    color 0.3s ease;
}

.tab.active{
    background: rgb(74, 171, 255);
    color: white;
}


.tab-content{
    display: none;
    animation: fade 0.4s ease;
}

.tab-content.active {
    display: block;
}

.grid-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;
    max-width: 600px;
    margin: auto;
}

.box {
    padding: 20px;
    background: rgb(79, 159, 249);
    color: white;
    border-radius: 12px;
    width: 300px;
    height: 150px;

}

.box p:nth-child(2){
    position: relative;
    top: 7px;
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.box a{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*ScrollInter*/

.InterSection{
    opacity: 0;
    transition: all 0.3s ease;
}

.from-left { transform: translateX(-100px); }

.from-right { transform: translateX(100px); }

.from-top  { transform: translateY(-100px); }

.from-bottom { transform: translateY(100px); }

.show{
    opacity: 1;
    transform: translate(0, 0);
}

.order-course{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.order-course-1{
    padding: 20px;
    border-radius: 20px;
   width: 500px;
   height: 300px;
   background: rgb(226, 223, 223);
   
}

.order-course-2{
   display: flex;
   justify-content: space-around;
   border-radius: 20px;
   width: 500px;
   height: 300px;
   background: none; 
   border: 2px solid rgb(122, 122, 122);
   padding: 10px;
}

.order-course-1 img{
    width: 50px;
    height: 50px;
}

.btn-course {
    position: relative;
    top: 40px;
    left: 35%;
    text-decoration: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    text-align: center;
    border: 0;
    background: rgb(16, 172, 250);
    padding: 10px;
    width: 150px;
    border-radius: 8px;
}

.level-1{
    margin-top: auto;
    width: 13%;
    height: 30%;
    background: rgb(218, 238, 252);
    border-radius: 15px;
    padding: 10px;
}

.level-2{
    margin-top: auto;
    width: 13%;
    height: 50%;
    background: rgb(162, 216, 255);
    border-radius: 18px;
     padding: 10px;
}

.level-3{
    margin-top: auto;
    width: 13%;
    height: 70%;
    background: rgb(106, 193, 255);
    border-radius: 22px;
     padding: 10px;
}

.level-4{
    margin-top: auto;
    width: 13%;
    height: 90%;
    background: rgb(38, 160, 247);
    border-radius: 24px;
     padding: 10px;
}

.order-course-2 p{
    text-align: center;
    margin-top: auto;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: silver;
    width: 100%;
    height: 150px;
}

footer h2{
    margin-bottom: 5px;
}

footer p{
    cursor: pointer;
    opacity: 0.7;
    margin-bottom: 5px;
}

footer p:hover{
    border-bottom: 2px solid black;
}

#contact{
    display: flex;
    gap: 15px;
    width: 50px;
    height: 50px;
}

#contact i{
    font-size: 1.5rem;
}

/* LEVEL_TEST */

.levelUpHeader h1 {
    color: white;
    padding: 10px;

}

.levelUpHeader nav a{
    color: white;
    text-decoration: none;
}

.welcomeLevel{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.welcomeLevel-1{
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    background: rgb(204, 204, 204);
}

.courseChoose-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.courseChoose{
    text-decoration: none;
    color: black;
    margin: 10px;
    text-align: start;
    border-radius: 8px;
    width: 70%;
    background: rgb(224, 222, 222);
    padding: 10px;
}

.welcomeLevel img.boy{
    width: 30%;
    height: 700px;
}

#replaceBtn{
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background: rgb(4, 185, 245);
    border: none;
    padding: 13px;
    width: 120px;
    transition: 
    background 0.3s ease-in-out;
}